
/*This template uses the W3C css for working drafts, with small modifications.
Original copyright:
Copyright 1997-2003 W3C (MIT, ERCIM, Keio). All Rights Reserved.
The following software licensing rules apply:
http://www.w3.org/Consortium/Legal/copyright-software */
body {
	padding: 2em 1em 2em 70px;
	margin: 0;
	font-family: sans-serif;
	color: black;
	background: white;
	background-position: top left;
	background-attachment: fixed;
	background-repeat: no-repeat;
}

:link { color: #00C; background: transparent }

:visited { color: #609; background: transparent }

a:active { color: #C00; background: transparent }

a:link img, a:visited img { border-style: none } /* no border on img links */

a img { color: white; }        /* trick to hide the border in Netscape 4 */

@media all {                   /* hide the next rule from Netscape 4 */
	a img { color: inherit; }    /* undo the color change above */
}

th, td { /* ns 4 */
	font-family: sans-serif;
}
h1, h2, h3, h4, h5, h6 { text-align: left }
/* background should be transparent, but WebTV has a bug */
h1, h2, h3 { color: #005A9C; background: white }
h1 { font: 170% sans-serif }
h2 { font: 140% sans-serif }
h3 { font: 120% sans-serif }
h3 {
	border-bottom: 1px solid navy;
	margin-top: 3px;
	padding-bottom: 5px;
}

h4 { font: bold 100% sans-serif }
h5 { font: italic 100% sans-serif }
h6 { font: small-caps 100% sans-serif }

.hide { display: none }

div.head { margin-bottom: 1em }

div.head h1 { margin-top: 2em; clear: both }

div.head table { margin-left: 2em; margin-top: 2em }

p.copyright { font-size: small }

p.copyright small { font-size: small }

@media screen {  /* hide from IE3 */
	a[href]:hover { background: #ffa }
}

pre { margin-left: 2em }
p {
	margin-top: 0.6em;
	margin-bottom: 0.6em;		  
	text-align: justify;
}

dt, dd { margin-top: 0; margin-bottom: 0 } /* opera 3.50 */

dt { font-weight: bold }

ul.toc, ol.toc {
	list-style: disc;		/* Mac NS has problem with 'none' */
	list-style: none;
}

@media aural {  
	h1, h2, h3 { stress: 20; richness: 90 }
	.hide { speak: none }
	p.copyright { volume: x-soft; speech-rate: x-fast }
	dt { pause-before: 20% }
	pre { speak-punctuation: code } 
}

/*Additional css*/
.hlist {
	background-color: #F4FFFF;
	border: 1px solid navy;
	padding: 5px;
}

.hlist li {
	display: inline-table;
	list-style-type: none;
	padding-right: 20px;
}

.backlink {
	background-color: #F4FFFF;
	border: 1px dotted navy;
	color: black;
	float: right;
	font-size: 10pt;
	padding: 2px;
	text-align: right;
}

.entity {
	border: 1px solid navy;
	margin: 5px 0;
	padding: 5px;
}

table {
	background-color: #F4FFFF;
	border: 1px solid navy;
	margin: 20px;
}

table {
	text-align: center;
	vertical-align: middle;
}

table td {
	padding: 5px 15px;
	text-align: left;
}

table th {
	background-color: LightGoldenRodYellow;
}

pre {
	background-color: #F9F9F9;
	border: 1px dashed #2F6FAB;
	color: black;
	line-height: 1.1em;
	padding: 1em;
}

.type-c {
cursor:help;
color:orange;
}
.type-op {
cursor:help;
color:navy;   
}
.type-dp {
cursor:help;
color:green;
}

.onto-img {
    max-width:100%;
    height:auto;
    display: block;
	margin-left: auto;
	margin-right: auto 
}


/* references section */
.refs{
	line-height: 2em;
}

#ref{
	list-style-type:none;
}


/* div section for the toc */
.toc{
	background: #eee;  	
}

.toc ul {
  padding: 0;
}
.toc li {
  margin: 0 0 0.25em 0;
}
.toc a {
  text-decoration: none;
}
.toc a:hover,
.toc a:active {
  text-decoration: underline;
}

.inline-list{
	list-style-type: none ;
}

.inline-list ul.left {}
.inline-list ul.right { text-align: right ; }

.inline-list li{
	display: inline;	
}

.img-caption{
	font-size: small;
	font-style: normal;
	text-align: center;
}